/* styles css file */

body, html {
    height: 100%;
    margin: 0;
    font-family: 'Lato', sans-serif;
    background: linear-gradient(135deg, #2c3e50, #3498db);
    color: #fff;
    overflow: hidden;
}

#wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
    position: relative;
}

#overlay {
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
}

#main {
    z-index: 1;
}

header {
    margin: 20px;
}

header h1 {
    font-size: 3em;
    margin: 0;
    color: #d34444;
}

header p {
    font-size: 1.2em;
    margin: 10px 0;
    color: #aaa;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 20px;
}

nav ul li {
    display: inline;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 1.5em;
    transition: color 0.3s ease-in-out;
}

nav ul li a:hover {
    color: #f0db4f;
}

/* Icons */
.icon {
    font-size: 2em;
}

.icon .label {
    display: none;
}
